/**  
  
Main SCSS
	1. Imports.
	2. General Styles.
	3. 
	4. 
	5.   
  
**/

/* ----------------------------------------------------------- */
/*  1. Imports
/* ----------------------------------------------------------- */

@import "variables-mixins.scss";

/* ----------------------------------------------------------- */
/*  2. General Styles.
/* ----------------------------------------------------------- */

* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
	
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	width: 100%;
	max-width: 1000px;
	height: auto;
	margin: 0 auto;
}

.clearfix {
	clear: both;
}

/* ----------------------------------------------------------- */
/*  3. 
/* ----------------------------------------------------------- */



/* ----------------------------------------------------------- */
/*  4. 
/* ----------------------------------------------------------- */



/* ----------------------------------------------------------- */
/*  5. 
/* ----------------------------------------------------------- */
